# Ignore everything
*
!.gitignore

###### .config
!.config/
!.config/nvim/
!.config/nvim/**

!.config/konsole/
!.config/konsole/**
.config/konsole/bookmarks*

###### keyd
!.config/keyboard/
!.config/keyboard/**

###### shell
!.zshrc
!.bashrc
!.bash_profile
!.bash_logout

###### git
!.gitconfig

###### docs
!img/
!img/**

###### install-script
!script/
!script/**

###### I'm creating a plugin, so I don't wanna have the unfinised one in the repo - clone it yourself / lazy.vim (when it is finished)
.config/nvim/lua/plugins/telescope-dirfinder.nvim

###### tmux
!.config/tmux/
!.config/tmux/**
